In [1]:
#Using a text editor, write a program that calculates the salary for the week of the employees listed below. 
#If an employee worked more than 40 hours that week, then calculate the remaining hours as time and a half 
#(1.5x the normal rate).The program should print their name and salary earned.
#Upload your finished script to Github and use its URL for your assignment submission.

#
import sys

In [2]:
employees= [
    {'id':'001', 'name': 'Mary', 'pay_rate': 15, 'hours_worked': 40},
    {'id':'002', 'name': 'John', 'pay_rate': 22, 'hours_worked': 25},
    {'id':'003', 'name': 'Bob', 'pay_rate': 35, 'hours_worked': 4},
    {'id':'004', 'name': 'Mel', 'pay_rate': 43, 'hours_worked': 62},
    {'id':'005', 'name': 'Jen', 'pay_rate': 17, 'hours_worked': 33},
    {'id':'006', 'name': 'Sue', 'pay_rate': 29, 'hours_worked': 45},
    {'id':'007', 'name': 'Ken', 'pay_rate': 40, 'hours_worked': 36},
    {'id':'008', 'name': 'Dave', 'pay_rate': 20, 'hours_worked': 17},
    {'id':'009', 'name': 'Beth', 'pay_rate': 37, 'hours_worked': 37},
    {'id':'010', 'name': 'Ray', 'pay_rate': 16.50, 'hours_worked': 80}
]

In [3]:
employees

[{'hours_worked': 40, 'id': '001', 'name': 'Mary', 'pay_rate': 15},
 {'hours_worked': 25, 'id': '002', 'name': 'John', 'pay_rate': 22},
 {'hours_worked': 4, 'id': '003', 'name': 'Bob', 'pay_rate': 35},
 {'hours_worked': 62, 'id': '004', 'name': 'Mel', 'pay_rate': 43},
 {'hours_worked': 33, 'id': '005', 'name': 'Jen', 'pay_rate': 17},
 {'hours_worked': 45, 'id': '006', 'name': 'Sue', 'pay_rate': 29},
 {'hours_worked': 36, 'id': '007', 'name': 'Ken', 'pay_rate': 40},
 {'hours_worked': 17, 'id': '008', 'name': 'Dave', 'pay_rate': 20},
 {'hours_worked': 37, 'id': '009', 'name': 'Beth', 'pay_rate': 37},
 {'hours_worked': 80, 'id': '010', 'name': 'Ray', 'pay_rate': 16.5}]

In [4]:
print(employees[2:3])

[{'pay_rate': 35, 'id': '003', 'name': 'Bob', 'hours_worked': 4}]

In [5]:
employees[0]['name']

'Mary'

In [6]:
for employee in employees:
    if employee['hours_worked'] <= 40:
        salary = employee['pay_rate']*employee['hours_worked']
    else :
        salary = (employee['pay_rate']*40) + ((employee['hours_worked'] - 40) * 1.5 * employee['pay_rate'])
        
    print(employee['name'] + ':   $',salary)

Mary:   $ 600
John:   $ 550
Bob:   $ 140
Mel:   $ 3139.0
Jen:   $ 561
Sue:   $ 1377.5
Ken:   $ 1440
Dave:   $ 340
Beth:   $ 1369
Ray:   $ 1650.0